@tailwind base;
@tailwind components;
@tailwind utilities; 

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  display: grid;
  height: 100vh;
}

header{
  height: 8vh;
  width: 100%;
  padding: 0 3rem;
}

header h1{
  color: blue;
  font-size: 2em;
}

main{
  margin: 2rem;
  height: max-content;
  width: 100%;
}

footer{
  margin-top: 2rem;
  border-top: 2px solid grey;
  text-align: center;
}


#app {
  max-width: 1280px;
  margin: 0 auto;
}
